# QUESTION 3


 # Sets - Collection of unordered objects

In [4]:
st = {"Vraj", "Rohan", "Parth"}

# 1. add() - add the element to the set

In [12]:
st.add("Devanshu")
st

{'Devanshu', 'Parth', 'Rohan', 'Vraj'}

# 2. copy() - returns the copy of set

In [7]:
st1 = st.copy()
st1

{'Devanshu', 'Parth', 'Rohan', 'Vraj'}

# 3. clear() - remove all the elements from set

In [8]:
st1.clear()
st1

set()

# 4. difference() - returns the difference between two or more sets

In [9]:
st1 = st.copy()
st1.add("Dev")

st1.difference(st)

{'Dev'}

# 5. difference_update() - delete all same objects, it only keeps different objects in set

In [10]:
st1.difference_update(st)
st1

{'Dev'}

# 6. discard() - Removes the specified item, if item doesn't exist then it doesn't raise an error

In [13]:
st.discard("Devanshu")
st

{'Parth', 'Rohan', 'Vraj'}

# 7. intersection() - it is used to see the same set of objects between two sets

In [14]:
st1.add("Parth")

st.intersection(st1)

{'Parth'}

# 8. intersection_update() - keeps all same objects in set and it deletes all different objects

In [15]:
st1.intersection_update(st)
st1

{'Parth'}

# 9. isdisjoint() - Returns whether two sets have a intersection or not

In [16]:
st.isdisjoint(st1)

False

# 10. issubset() - returns whether all objects of this set is present in another set

In [17]:
st1.issubset(st)

True

# 11. issuperset() - Returns whether this set contains another set or not

In [18]:
st.issuperset(st1)

True

In [19]:
st.add("Vedant")
st

{'Parth', 'Rohan', 'Vedant', 'Vraj'}

# 12. pop() - removes the object from set (Random)

In [20]:
st.pop()

'Vedant'

# 13. remove() - removes the specific element from set

In [ ]:
st.add("Dev")

st.remove("Rohan")

In [24]:
st

{'Dev', 'Parth', 'Vraj'}

# 14. symmetric_differnce() - Return a set that contains all items from both sets, except items that are present in both sets

In [27]:
st.symmetric_difference(st1)

{'Vraj'}

In [26]:
st1.add("Dev")
st1, st

({'Dev', 'Parth'}, {'Dev', 'Parth', 'Vraj'})

# 15. symmetric_difference_update() - inserts the symmetric differences from this set and another

In [28]:
st.symmetric_difference_update(st1)
st

{'Vraj'}

In [29]:
st.add(45)
st

{45, 'Vraj'}

# 16. union() - Return a set containing the union of sets

In [30]:
st.union(st1)

{45, 'Dev', 'Parth', 'Vraj'}

In [31]:
st

{45, 'Vraj'}

# 17. update() - insert the items of second set to first set

In [32]:
st.update(st1)
st

{45, 'Dev', 'Parth', 'Vraj'}